{% trans_default_domain "messages" %}

<div class="container">
    <footer>
        <div class="row" style="margin-top: 1%">
            <div class="one u-pull-right">
                <p>{{ "copyright" | trans | raw }}</p>
            </div>
        </div>
    </footer>
</div>